{% load static %}

{% include "portfolio/includes/navbar.html" %}
<!--
<div class="h-80 rounded-lg overflow-hidden">
    <img class="object-scale-down" src="{% static "images/header.jpg" %}" alt="">
</div>
-->

<div>
    <h3 class="font-bold text-2xl md:text-4xl py-4 text-white leading-normal">
        Full Stack Web Developer
    </h3>
</div>

<div class="md:grid md:grid-cols-3">
    <div class="col-span-2 hidden md:block"></div>
    <div>
        
        <p class="font-roboto leading-relaxed text-gray-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ducimus.
        </p>
        <button class="  bg-slate-300 text-zinc-900 border-[1px]  rounded-xl px-4 py-1 text-sm mt-4 font-roboto  "> Resume </button>
    </div>
</div>